@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: rgb(44, 45, 48);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  margin-top: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navigation-icon {
  font-size: 30px;
  font-weight: bold;
  color: rgb(172, 152, 220);
}

.navigation__item a {
  text-decoration: none;
  color: var(--main-color);
  font-size: var(--nav-size);
  font-weight: bold;
}

.burger-menu {
  display: none;
}

.header__profile {
  padding-right: 43px;
  margin-top: 120px;
  background-color: rgb(172, 152, 220);
  width: 200px;
  height: 380px;
  border-radius: 8px;
}

.profile img {
  margin-top: 25px;
  margin-left: 45px;
  width: 100px;
  height: 100px;
}

.header {
  display: flex;
}

.header p {
  font-family: "Inter", sans-serif;
}

.Name-title {
  margin-top: 125px;
  margin-left: 235px;
  position: absolute;
  color: var(--main-color);
  font-size: 70px;
}

.Name-title_info {
  font-size: 30px;
  color: rgb(152, 141, 204);
}

.app-icons {
  display: flex;
  column-gap: 50px;
}

.app-icons img {
  width: 30px;
  height: 30px;
}

.header p {
  margin-left: 50px;
  margin-top: 403px;
  color: var(--main-color);
  font-size: var(--main-size);
}

.header__item {
  font-weight: bold;
  margin-left: 80px;
  margin-top: 150px;
  font-size: var(--nav-size);
  color: var(--primary-color);
}

.navigation__item a:hover {
  color: rgb(152, 141, 204);
}

.services-title {
  display: flex;
  justify-content: center;
  color: rgb(152, 141, 204);
  font-size: 55px;
  margin-top: 160px;
}

.services-list {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.services-list__item {
  max-width: 300px;
  text-align: center;
  margin: 0 40px;
}

.item__title {
  font-size: var(--nav-size);
  color: rgb(152, 141, 204);
}

.item__description {
  font-size: var(--main-size);
  color: var(--main-color);
  font-family: "Inter", sans-serif;
}

.skills-title {
  display: flex;
  justify-content: center;
  color: rgb(152, 141, 204);
  font-size: 55px;
  margin-top: 160px;
}

.progress-container {
  column-gap: 40px;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  accent-color: var(--main-color);
}

.progress-text {
  margin-top: 45px;
  color: rgb(152, 141, 204);
  font-size: 17px;
}

.progress-container progress {
  height: 30px;
  width: 500px;
}

.contact-title {
  display: flex;
  justify-content: center;
  color: rgb(152, 141, 204);
  font-size: 55px;
  margin-top: 160px;
}

.list-container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.list-group {
  font-family: "Inter", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  border: 13px solid rgb(44, 45, 48);
  margin-top: -1px;
  background-color: rgb(174, 163, 225);
  padding: 12px;
  width: 320px;
}

@media (max-width: 880px) {
  .navigation__item {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

@media (max-width: 1150px) {
  .progress-container {
    display: block;
  }
}

@media (max-width: 780px) {
  .header {
    display: block;
  }
  .Name-title {
    margin-left: 0;
  }
  .header p {
    margin-left: 0;
  }
}
