@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: rgb(44, 45, 48);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------------------Navigation Start----------------------- */

.navbar {
  margin-top: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navigation-icon {
  font-size: 30px;
  font-weight: bold;
  color: rgb(172, 152, 220);
}

.navigation__item a {
  text-decoration: none;
  color: var(--main-color);
  font-size: var(--nav-size);
  font-weight: bold;
}

.burger-menu {
  display: none;
}

.navigation__item a:hover {
  color: var(--secondary-color);
}

/* ---------------------Navigation End---------------------- */

/* ----------------------Header Start----------------------- */

.header__profile {
  padding-right: 43px;
  margin-top: 120px;
  background-color: rgb(172, 152, 220);
  width: 200px;
  height: 380px;
  border-radius: 8px;
}

.profile img {
  margin-top: 25px;
  margin-left: 45px;
  width: 100px;
  height: 100px;
}

.header {
  display: flex;
}

.Name-title {
  margin-top: 125px;
  margin-left: 35px;
  color: var(--main-color);
  font-size: 70px;
}

.Name-title_info {
  font-size: 30px;
  color: var(--secondary-color);
}

.app-icons {
  display: flex;
  column-gap: 50px;
}

.app-icons img {
  width: 30px;
  height: 30px;
}

.header p {
  font-family: "Inter", sans-serif;
  margin-top: 85px;
  color: var(--main-color);
  font-size: var(--main-size);
}

.header__item {
  font-weight: bold;
  margin-left: 95px;
  margin-top: 150px;
  font-size: var(--nav-size);
  color: var(--primary-color);
}

/* -------------------Header End-------------------- */

/* -----------------Services Start------------------ */

.services-title {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 55px;
  margin-top: 160px;
  letter-spacing: 7px;
}

.services-list {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.services-list__item {
  max-width: 300px;
  text-align: center;
  margin: 0 40px;
}

.item__title {
  font-size: var(--nav-size);
  color: var(--secondary-color);
}

.item__description {
  font-size: var(--main-size);
  color: var(--main-color);
  font-family: "Inter", sans-serif;
}

/* ----------------Services End----------------- */

/* ----------------Skills Start----------------- */

.skills-title {
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 55px;
  margin-top: 160px;
}

.progress-container {
  column-gap: 40px;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  accent-color: var(--main-color);
}

.progress-text {
  font-family: "Inter", sans-serif;
  margin-top: 45px;
  color: var(--secondary-color);
  font-size: 17px;
}

.progress-container progress {
  height: 30px;
  width: 500px;
}

/* ----------------Skills End----------------- */

/* ---------------Contact Start--------------- */

.contact-title {
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 55px;
  margin-top: 160px;
}

.list-container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.list-group {
  font-family: "Inter", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  border-radius: 5px;
  border: 13px solid rgb(56, 58, 61);
  background-color: rgb(174, 163, 225);
  padding: 12px;
  width: 320px;
  margin-bottom: 16px;
}

.world-map {
  margin-right: 50px;
  height: 400px;
  width: 530px;
}

.world-map {
  filter: invert(70%);
}

/* ---------------Contact End---------------- */

/* -------------Keyframes Start-------------- */

.services-title:hover {
  animation-name: item-titles;
  animation-duration: 1.5s;
  border-radius: 50%;
}

.skills-title:hover {
  animation-name: item-titles;
  animation-duration: 1.5s;
  border-radius: 50%;
}

.contact-title:hover {
  animation-name: item-titles;
  animation-duration: 1.5s;
  border-radius: 50%;
}

.list-group-item:hover {
  animation-name: list-items;
  animation-duration: 0.32s;
}

@keyframes item-titles {
  50% {
    color: rgb(255, 255, 255);
    letter-spacing: 18px;
    background-color: rgb(55, 57, 60);
  }
  100% {
  }
}

@keyframes list-items {
  50% {
    border: 13px solid rgb(81, 84, 88);
  }
  100% {
  }
}

/* --------------Keyframes end--------------- */

/* ---------------Media Start---------------- */

@media (max-width: 800px) {
  .services-list {
    justify-content: center;
  }
}

@media (max-width: 880px) {
  .navigation__item {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

@media (max-width: 1150px) {
  .progress-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .world-map {
    display: none;
  }
}

@media (max-width: 780px) {
  .header {
    display: block;
  }
  .Name-title {
    text-align: center;
    margin: 0;
  }
  .app-icons {
    justify-content: center;
  }
  .header p {
    margin-left: 0;
  }
  .profile {
    display: flex;
    justify-content: center;
  }
  .header__profile {
    margin: 0 auto;
  }
  .list-container {
    margin-bottom: 100;
  }
}

@media (max-width: 550px) {
  .progress-container progress {
    width: 250px;
  }
  .list-container {
    margin-bottom: 80px;
  }
}
@media (max-width: 410px) {
  .list-group-item {
    width: 240px;
  }
  .list-container {
    margin-bottom: 20px;
  }
}

/* ---------------Media End---------------- */
